.hero {
  margin: 0 auto;
  max-width: var(--size-max-width);
  min-height: 200px;
  padding: 0 0 var(--size-gutter);
  position: relative;
  text-align: center;
}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 0px;
}

.details {
  padding: var(--space-2xl) var(--size-gutter) 0;
  text-align: center;
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--semibold);
  line-height: var(--solid);
  margin: 0 3% var(--space-xl);
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 3%;
}

.content {
  font-size: var(--text-lead);
  font-weight: var(--semibold);
  margin: 0;
}

@media (min-width: 480px) {
  .details {
    padding-top: var(--space-3xl);
  }
}

@media (min-width: 768px) {
  .details {
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;
  }

  .details {
    left: var(--size-gutter);
    padding: var(--space-3xl) var(--size-gutter) 0 0;
  }
}

.discount {
  color: var(--black);
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}













/* color: #000;
  font-weight: bold;
  font-size: 2rem;
  animation: blinkingText 2s infinite;
}

@keyframes blinkingText {
  0% {
    color: #10c018;
  }

  25% {
    color: #1056c0;
  }

  50% {
    color: #ef0a1a;
  }

  75% {
    color: #254878;
  }

  100% {
    color: #04a1d5;
  }
} */